@model ProjetoFutebol.Web.ViewModels.AuthViewModel

@{
    ViewData["Title"] = "Faça seu Login no FutFut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>Login</h2>
    <form asp-action="Login" method="post">
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Senha" class="form-label"></label>
            <input asp-for="Senha" type="password" class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <p>Não tem uma conta? <a asp-controller="Cadastro" asp-action="Index">Cadastre-se aqui</a></p>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>